@import "tailwindcss";

@theme {
  --color-bg: #FFFFFF;
  --color-surface: #F5F5F5;
  --color-accent: rgb(14, 255, 255);
  
  --color-netflix-note: #E8F0FE;
  --color-netflix-divider: #DBDBDB;
  --color-netflix-text: #222222;
  --color-netflix-link: #0071EB;
}

@layer base {
  body {
    @apply bg-bg text-netflix-text antialiased;
  }
}
